.Python
*.egg-info
*.mo
*.pyc
.idea
.installed.cfg
.coverage
bin
develop-eggs
parts
build
/include/
/lib*
/local/
pip-selfcheck.json
/.tox/
/var/
/htmlcov/
/.coverage.
/.coverage.*
/reports/
/coverage.xml
/plone/app/standardtiles/utils.py.bak
