.Python
*.egg-info
*.mo
*.pyc
.idea
.installed.txt
.coverage
.mr.developer.cfg
pip-selfcheck.json
/.tox/
/instance/
/htmlcov/
/.make-sentinels/
/.coverage.
/.coverage.*
/*-mxdev.txt
/reports/
/sources/
/venv/
/coverage.xml
/plone/app/standardtiles/utils.py.bak
pyvenv.cfg
