.Python
*.egg-info
*.mo
*.pyc
.idea
.installed.txt
.coverage
.mr.developer.cfg
bin
develop-eggs
eggs
parts
build
pip-selfcheck.json
/.tox/
/instance/
/htmlcov/
/.make-sentinels/
/.coverage.
/.coverage.*
/reports/
/sources/
/venv/
/coverage.xml
/plone/app/standardtiles/utils.py.bak
pyvenv.cfg
annotate.txt
requirements.txt
