exclude Makefile *.cfg *.in *.nix *.sh *.conf *.md *-mxdev.txt .jshintrc .installed.txt
exclude sources.ini
exclude instance.yaml
exclude constraints.txt
exclude requirements.txt
global-exclude *.pyc __pycache__
include setup.py LICENSE.txt *.rst *.GPL
recursive-include src *
recursive-exclude news *
