[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    code-analysis.cfg

package-name = plone.app.standardtiles
package-extras = [test]

parts +=
    createcoverage

test-eggs += Pillow

[code-analysis]
directory = plone

[versions]
six =
plone.tiles =
plone.app.tiles =
plone.app.standardtiles =
coverage = 3.7.1
createcoverage = 1.5

# temporary fix, see https://community.plone.org/t/buildout-typeerror-version-object-has-no-attribute-getitem/6607
plone.recipe.zope2instance = 4.4.0